[flake8]
exclude =
    .git,
    __pycache__,
	env,
	venv,
    build,
    dist
    docs/source/conf.py,
docstring-convention = numpy
max-line-length = 99
max_complexity = 10
max_function_length = 150
ignore = D101, D103, I, W503
per-file-ignores =
    __init__.py: D104
    tests/*: D100, D104
# for compatibility with black
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
extend-ignore = E203, E501
